.weather {
  color: #ffffff;
  text-align: center;
}
.title {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  padding: 2rem;
  color: black;
}

.today-temp {
  font-size: 2.9rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.location {
  font-size: 1.1rem;
  font-weight: 500;
}

.label1 {
  font-weight: 500;
  font-size: 1.2rem;
}

.image {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}

.main {
  border: 1px solid;
  padding: 1%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.today {
  padding: 1%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    to bottom,
    rgba(250, 250, 250, 0.349),
    rgba(243, 243, 243, 0.445)
  );
}

@media only screen and (min-width: 755px) {
  .today {
    width: 35vh !important;
  }
}
